
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 10, 35);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    display: flex;
     list-style-type: none;
    justify-content: space-between;
    width: 400px;
    gap: 5px;
}

a{
    text-decoration: none;
    color: navajowhite;
}

h2{
    color: #38AE63;
}
.container {
    background-color: black;
    width: 97%;
    height: 3000px; 
    margin-top: -10px;
    border-radius: 10px;
    flex-wrap: wrap;

}
header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
nav {
    display: flex;
    margin-left: 710px;
    gap: 20px;
    margin-top: 18px;
    color: white;
    cursor: pointer;
}
button {
    background-color: #15803D;
    border: none;
    height: 50px;
    width: 85px;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: purple; 
    transition: ease-in-out 1s;
}
.top {
    color: #39D880;
    display: flex;
    background-color: #091D10;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: small;
    height: 40px;
    margin-top: 50px;
    margin-left: 480px;
    gap: 5px;
    font-size: 14px;
    border: 0.5px solid green;
    text-decoration: ;
}
.holder {
    padding-top: 20px;
    justify-content: center;
    margin-top: 40px;
    background-color: #000201;
    background-color: #010703;
    background-color: #000101;
    border-radius: 10px;
    width: 98%;
    margin-left: 15px;
    height: 500px;
}
.side{
    color: #32D193;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    margin-top: 10px;
    
}
.task {
    color: #D1D5DB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 35px;
    margin-top: 20px;
}
.put {
    display: flex;
    color: rgb(165, 155, 155);
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.first {
    background-color:#0C1010;
    width: 180px;
    height: 80px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    border: 1px solid;
    padding-top: 25px;
    
}
.logo-box {
    display: flex;
    align-items: center;
    margin-right: none;
}
.head-holder {
    display: flex;
    align-items: center;

}
input {
    width: 80px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #38AE63;
    border-radius: 10px;
    border: none;
     }
    
.mic {
    display: flex;
    justify-content: space-between;
    
}
.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.second {
    background-color:#0C1010;
    width: 180px;
    height: 80px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid;
    padding-top: 25px;

    
}
.third {
  background-color:#0C1010;
    width: 180px;
    height: 80px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-top: 25px;
    border: 1px solid;
    
}
.fourth {
    background-color:#0C1010;
    width: 180px;
    height: 80px;
    padding: 50px;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    padding-top: 25px;
    border: 1px solid;
    
}
.try-container {
    color: white;
    background-color: #18181B;
    height: 100px;
    width: 63%;
    height: 700px;
    margin-left: 270px;
    border-radius: 20px;
    padding-top: 35px;
    margin-top: 70px;
    border: 1px solid rgb(84, 81, 81);
    padding-left: 30px;
    

}
.try-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.deals {
    color: #9CA3AF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 15px;
}
.language {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}





select{
    background-color: #27272a;
    width: 400px;
    height: 45px;
    border: 1px solid rgb(84, 81, 81);
    margin-top: 10px;
    color: white;
    border-radius: 7px; 
}
.prof {
    color: #66727D;
    font-size: 12px;
    margin-top: 20px;
    font-family:'Lucida Sans Unicode';

}
.your-text {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.yt {
    color: #D1D5DB;
    font-size: smaller;
}
.chars {
    color: #9CA3AF;
    font-size: 15px;
    margin-right: 20px;
}
.bytes{
    color: #4B5563;
    font-size: 13px;
    margin-left: 17px;
}
.text-holder {
    background-color: #27272A;
    width: 840px;
    height: 200px;
    margin-top: 10px;
    border: 1px solid rgb(111, 102, 102);
}
.sec2-first-div {
    background-color: #0C0C0D;
    width: 1410px;
    height: 700px;
    margin-top: 200px;
    position: relative;
    right: 280px;
    border-radius: 10px;
    padding-top: 50px;
}
.premium-top {
    display: flex;
    align-items: center;
    margin-left: 500px;
    gap: 10px;
    /* margin-top: 50px; */
}
.prem-550 {
    font-size: 40px;
    color: #C084FC;
}
.access-studio {
    font-size: 22px;
    margin-left: 400px;
    color: #D1D5DB;
    font-weight: lighter;
}